<h3>Role-1</h3>
<button
  *isAuthorized="{
    role: 'role-1',
    priviledge: 'priviledge-1',
    attribute: 'a1',
    operation: 'disable'
  }"
>
  Role-1 Priviledge-1 a1
</button>
<button
  *isAuthorized="{
    role: 'role-1',
    priviledge: 'priviledge-2',
    attribute: 'a3',
    operation: 'disable'
  }"
>
  Role-1 Priviledge-2 a3
</button>
<button
  *isAuthorized="{
    role: 'role-1',
    priviledge: 'priviledge-2',
    attribute: 'a5',
    operation: 'disable'
  }"
>
  Role-1 Priviledge-2 a5
</button>
<button
  *isAuthorized="{
    role: 'role-1',
    priviledge: 'priviledge-3',
    operation: 'disable'
  }"
>
  Role-1 Priviledge-3
</button>
